body{

    font-family: 'Open Sans', sans-serif;
    margin: 0;

}
h1 {
font-size: 50px;

}
h2{
    font-size: 20px;
}
.tho{

    color: goldenrod;
}

 .flexible-continar  {
    display: flex;
    margin-bottom: 140px;
}
.ok{
    width: 50%;
    padding-left: 2%;
}
.ok img{

    width: 80%;
     
   
}
.button{
text-decoration: none;
background-image: linear-gradient(orange,red);
padding: 10px 40px;
color: aliceblue;
font-weight: 800;
border-radius: 5%;

}
.top-banner{

    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{

    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}


.expernience{

    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}




.good{
 width: 40%;
 margin-left: 5%;
margin-right: 5%;
 padding: 20px;
 border-radius: 5%;
box-shadow: 10px 10px 30px gray;


}
#no{
    border-left: 7px solid rgb(85, 85, 226);
}
#na{
    border-left: 7px solid red;
}
footer p{
    text-align: center;
}